$body-bg: #f1f5f9;
$body-color: #1d212f;
$primary: #f4c141;
$dark: #1a202e;
$font-family-base: 'Roboto', sans-serif !important;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Nothing+You+Could+Do&family=Roboto:wght@400;500;700&display=swap");

.btn-outline-primary {
  background: #fff;
  border: 1px solid #cecece;
  color: #283252;
  padding: 0.25rem 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}
.loader {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1100;

  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
}

.form-check.form-switch {
  &.form-switch-lg {
    display: flex !important;
    align-items: center !important;

    .form-check-input {
      width: 4em;
      height: 2em;
      margin-top: 0;
      margin-right: 0.5rem;
    }
  }
}

.modal {
  background: rgba(0, 0, 0, 0.4);

  &.show {
    display: block;
  }

  .btn-close {
    background: none;
  }

  .modal-dialog {
    max-width: 700px;
  }
}

.alert {
  background: #fff;
  border: 1px solid #e9ecef;
  border-left: 0.25rem solid #000;
  padding: 0.5rem 1rem;
  color: $dark;

  &.alert-info {
    border-left-color: $info;
  }

  &.alert-success {
    border-left-color: $success;
  }

  &.alert-warning {
    border-left-color: $warning;
  }

  &.alert-danger {
    border-left-color: $danger;
  }
}

.card, .modal-content {
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
  border: 0;
  box-shadow: -7.829px 11.607px 20px 0 #e4e3f5;

  .card-header, .modal-header {
    border-color: #f0f0ff;
    display: flex;
    line-height: 0;
    border-bottom: 0 !important;
    padding: 0 1rem;
    min-height: 50px;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .card-title, .modal-title {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      line-height: 1;
    }

    .dropdown {
      line-height: 1;
    }
  }

  .card-header + .card-body .table {
    th:first-child {
      border-top-left-radius: 0;
    }

    th:last-child {
      border-top-right-radius: 0;
    }
  }

  .card-body, .modal-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;

    .list-group {
      margin-bottom: 0px;
      box-shadow: none;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  .card-footer, .modal-footer {
    padding: 0.5rem 1rem;
  }
}

.modal-content {
  box-shadow: none;
}